.about_container {
  background-color: #111;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)); */
  border-radius: 1rem;
  /* padding-block: 0; */
  margin-top: -8rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.about_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* justify-content: center; */
}
.about_intro img {
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}
.para_container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .about_container {
    grid-template-columns: 1fr;
  }
}
