.home {
  /* background-color: var(--white); */
  /* background: linear-gradient(45deg, #00052a 9.42%, #600986 109.02%); */
  /* color: var(--black); */
}
.hero_container {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 3rem;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.button_container {
}
.glass_button {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  /* color: #fff; */
}

.hero_image {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .hero_container {
    grid-template-columns: 1fr;
  }
  .intro {
    align-items: center;
  }
  h1 {
    text-align: center;
  }
}
