@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* --primary-color: #6A5ACD; */
  /* --primary-color: rgba(46, 139, 87, 1); */
  --primary-color: #228b22;
  --secondary-color: #600986;
  --blue: #00052a;
  --white: #fff;
  --black: #000;
  --max-width: 1200px;
}
.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body,
html {
  scroll-behavior: smooth;
  /* background-color: var(--black); */
  background: linear-gradient(100deg, #00052a 9.42%, #600986 109.02%);
  color: var(--white);
  font-family: "Roboto", sans-serif;
}
h1 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
}
h2 {
  /* color: var(--secondary-color); */
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-style: 1.5rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  line-height: 2rem;
  word-spacing: 0.2rem;
}
.para {
  text-indent: 2rem;
  margin: 1rem 0;
}
img {
  width: 100%;
}

.btn{
  color: var(--primary-color);
  background-color: rgba(1, 82, 52, 0.1);
  /* background-color: transparent; */
  font-size: 1rem;
  font-weight: 900;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--primary-color);
}
button:hover {
  background-color: rgba(1, 82, 52, 0.5);
}
button:active {
  background-color: rgba(1, 82, 52, 1);
}
.button_container {
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
}

.section_container {
  padding: 5rem 2rem;
}
.container {
  max-width: var(--max-width);
  margin: auto;
}
.section_header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  /* margin-block: 3rem ; */
}
.section_subheader {
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

/* Header */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
}
.header_container {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-items: center;
  padding: .5rem 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul li a:hover {
  color: var(--primary-color);
}

/* Hero */

/* About */
.about {
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)); */
  /* background-color: #000; */
}

/* Skills */
.skills_container {
  margin-top: 2rem;
}
.skills_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0 3rem 0;
}
.single_skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--primary-color);
  background-color: rgba(1, 82, 52, 0.2);
  /* background-color: var(--primary-color); */
  /* opacity: 0.1; */
  /* border: 1px solid var(--primary-color); */
  border-radius: 0.5rem;
  /* background-blend-mode: darken; */
}
/* Projects */
.project_categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 2rem;
}
.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* single project */
.single_project {
  border: 1px solid var(--primary-color);
  /* padding: 1rem; */
  border-radius: 1rem;
  margin-bottom: 5rem;
}
.project_image {
  height: 40vh;
  overflow: hidden;
  position: relative;
}
.screenshot {
  position: absolute;
  top: 0;
  left: 0;
  animation: moveScreenshot 10s ease-in-out infinite;
}
.project_desc{
  padding: 1rem;
}

@keyframes moveScreenshot {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-80%);
  }
  100%{
    transform: translateY(0%);
  }
}



/* swiper slide */
swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 600px;
}

swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
}
/* Education */
.institution {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  margin: 5rem 0;
  justify-items: center;
}
/* .institution_info {
  display: flex;
  align-items: center;
} */
.institution_details {
  background: linear-gradient(to right, #015234, #020866);
  border-radius: 2rem;
  padding: 0.5rem;
}
.institution img,
iframe {
  border-radius: 2rem;
}

/* Stats */
.stats_header {
  margin-bottom: 2rem;
}
.stats_header p {
  text-align: center;
}

.stats_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.stat_box {
  /* border: 1px solid var(--primary-color); */
  padding: 0.5rem;
  color: var(--primary-color);
  background-color: rgba(1, 82, 52, 0.2);
  /* box-shadow: 5px 5px 5px 5px #04aa6d; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Github */
.github {
  margin-top: 8rem;
}

.github a {
  /* text-decoration: none; */
  font-weight: bold;
  color: var(--primary-color);
  font-size: 3rem;
  transition: 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.github a:hover {
  color: var(--white);
  font-size: 3.5rem;
}
.github > h2 {
  /* margin-bottom: 1rem; */
}
/*Testimonials  */
.testimonials_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 1rem;
}
.testimonial_info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.testimonial_image {
  width: 4rem;
  height: 4rem;
}
.testimonial_image img {
  border-radius: 50%;
}
.ricoz img {
  margin-top: 1rem;
}

/* Footer */
footer {
  min-height: 30vh;
  color: var(--white);
  background-color: var(--black);
}

/* media query */
@media screen and (max-width: 1100px) {
  .skills_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .institution {
    grid-template-columns: 1fr;
  }
  .stats_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skills_wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .projects_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .stats_container {
    grid-template-columns: 1fr 1fr;
  }
  .projects_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .skills_wrapper {
    grid-template-columns: 1fr;
  }
}
