* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #04aa6d;
  --white: #fff;
  --black: #000;
  --max-width: 1200px;
}
body {
  background-color: var(--black);
  color: var(--white);
}
h2 {
  text-align: center;
  font-size: 2rem;
  /* z-index: 20; */
}
p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  margin: 1rem 0;
}
img {
  /* display: flex; */
  width: 100%;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 1rem;
  outline: none;
  border: none;
}

.section_container {
  padding: 5rem 2rem;
  max-width: var(--max-width);
  margin: auto;
}
.section_subheader {
  text-align: center;
  /* font-size: .8rem; */
  letter-spacing: 0.2rem;
  /* margin-top: 0; */
}

/* columns */


/* About */
.about {
  background-color: #000;
}
.about_container {
  background-color: #111;
  border-radius: 1rem;
  /* padding-block: 0; */
  margin-top: -8rem;
  padding: 1rem;
}
/* Skills */
.skills_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0 3rem 0;
}
.single_skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--primary-color);
  background-color: rgb(1, 82, 52, 0.5);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  /* width: 15rem; */
}

/* Projects */
.project_categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.single_project {
  border: 1px solid var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
}

/* Education */
.institution {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  margin: 10rem 0;
  justify-items: center;
}
/* .institution_info {
  display: flex;
  align-items: center;
} */
.institution_details {
  background: linear-gradient(to right, #015234, #020866);
  border-radius: 2rem;
  padding: 0.5rem;
}
.institution img,
iframe {
  border-radius: 2rem;
}

/* Stats */
.stats_header {
  margin-bottom: 2rem;
}
.stats_header p {
  text-align: center;
}

.stats_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.stat_box {
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  box-shadow: 5px 5px 5px 5px #04aa6d;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Github */
.github {
  margin-top: 5rem;
}

.github a {
  /* text-decoration: none; */
  font-weight: bold;
  color: var(--primary-color);
  font-size: 3rem;
  transition: 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.github a:hover {
  color: var(--white);
  font-size: 3.5rem;
}

/*Testimonials  */
.testimonials_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 1rem;
}
.testimonial_info {
  display: flex;
  align-items: center;
  gap:2rem;
}
.testimonial_image {
  width: 4rem;
  height: 4rem;
}
.testimonial_image img {
  border-radius: 50%;
}
.ricoz img{
  margin-top: 1rem;
}
/* media query */
@media screen and (max-width: 1100px) {
  .skills_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .institution {
    grid-template-columns: 1fr;
  }
  .stats_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skills_wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .projects_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .stats_container {
    grid-template-columns: 1fr 1fr;
  }
  .projects_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .skills_wrapper {
    grid-template-columns: 1fr;
  }
}
